---
import Marquee from "./Marquee.astro";

---
<section class="section about-section">
  <div class="about-container">
    <div class="about-left">
      <!-- <span class="about-label">ABOUT /</span> -->
      <div class="about-image">
        <img
          src="https://fissac.com/wp-content/uploads/2020/11/placeholder.png"
          alt="About us"
          loading="lazy"
        />
      </div>
    </div>
    <div class="about-content">
      <h2 class="about-heading">
        Empowering products to thrive in the digital age with a human-centered
        design approach, transforming ideas into captivating interactive
        experiences.
      </h2>
      
    </div>
  </div>
  <div class="timeline">
        <Marquee />
      </div>
</section>
