

  <section class="section card" id="about">
  <div class="about">
  <img class="about-me" src="about-me0.png" />
  <div class="frame-13">
    <div class="frame-12">
      <div class="about2">About</div>
      <div class="about-me2">About Me</div>
    </div>
    <div
      class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-fusce-varius-faucibus-massa-sollicitudin-amet-augue-nibh-metus-a-semper-purus-mauris-duis-lorem-eu-neque-tristique-quis-duis-nibh-scelerisque-ac-adipiscing-velit-non-nulla-in-amet-pellentesque-sit-turpis-pretium-eget-maecenas-vestibulum-dolor-mattis-consectetur-eget-commodo-vitae-amet-pellentesque-sit-pulvinar-lorem-mi-a-euismod-risus-r"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius
      faucibus massa sollicitudin amet augue. Nibh metus a semper purus mauris
      duis. Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing
      velit non nulla in amet pellentesque.
      <br />
      <br />
      Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget
      commodo vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.
    </div>
  </div>
</div>

  </section>
  
