---
import profileImage from "../assets/profile-image.png";
import Marquee from "./Marquee.astro";
---

<section class="section about-section" id="about">
  <div class="about-container">
    <div class="about-left">
      <span class="about-label">ABOUT /</span>
      <div class="about-image">
        <img
          src={profileImage.src}
          class="about-profile-image"
          alt="About us"
          loading="lazy"
        />
      </div>
    </div>
    <div class="about-content">
      <h2 class="about-heading">
        Empowering products to thrive in the digital age with a human-centered
        design approach, transforming ideas into captivating interactive
        experiences.
      </h2>
    </div>
  </div>
  <!-- <div class="timeline">
    <Marquee />
  </div> -->
</section>
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger)
  
  gsap.fromTo(".about-label",{
    top: 100,
    opacity:0,
  },{
    top:0,
    opacity:1,
    duration:0.2,
    stagger:0.15,
    ease:"power1.in",
    scrollTrigger: {
    trigger: ".about-image",
    start: "top 70%",
    end: "top 100%",
    toggleActions: "play none none reset",
  }
  })

</script>