---
import profileImage from "../assets/profile-image.png";
import Marquee from "./Marquee.astro";
import Title from "./title.astro";
---

<section class="section about-section section-animation" id="about">
  <Title title="About" />
  <div class="about-container">
    <div class="about-left">
      <div class="about-image">
        <img
          src={profileImage.src}
          class="about-profile-image"
          alt="About us"
          loading="lazy"
        />
      </div>
    </div>
    <div class="about-content">
      <h2 class="about-heading">
        Empowering products to thrive in the digital age with a human-centered
        design approach, transforming ideas into captivating interactive
        experiences.
      </h2>
    </div>
  </div>
  <!-- <div class="timeline">
    <Marquee />
  </div> -->
</section>
