---
import "../style/hero.css";
---

<section id="Hero-Section" class="hero-section">
	<div class="logo">

	</div>
	<div class="headline-p1-mask">
		<h1></h1>
	</div>
	
	<!-- <div class="headline-wrapper">
		<div
			data-w-id="d1e8c2f9-2cfa-7981-e34b-b377f5d4409d"
			class="headline-top-wrapper"
			style=""
		>
			<div class="headline-p1-mask">
				<div
					data-w-id="a4fe2557-111c-0ef2-9f7f-55e659da3ade"
					class="headline-p1-anim-wrapper"
				>
					<h1 class="headline-1">
						FullStack DEveloper
					</h1>
				</div>
			</div>
		</div><div
			data-w-id="3a27b311-0f23-7707-e3be-d39d64f9c0c9"
			class="headline-bottom-wrapper"
			style=""
		>
			<h1 class="headline-1">Developer</h1>
		</div>
	</div> -->
		
	</div>
</section>
