---
import "../style/header.css";
import video from "../assets/Prueba3.mp4";
import Marquee from "./Marquee.astro";
---

<section class="section home__section" id="home">
  <div class="home_intro">
    <di class="container-medium">
      <div class="home_intro-grid">
        <div class="home_intro_content">
          <h1 class="home-title" >FullStack<br />Developer</h1>
          <p class="home-description" >
            If you’re looking for a forward-thinking team of creatives to build
            a brand identity that stands out from the crowd, then you’re exactly
            where you need to be.
          </p>
          <p class="home-description">
            If you’re looking for a forward-thinking team of creatives to build
            a brand identity that stands out from the crowd, then you’re exactly
            where you need to be.
          </p>
          <a class="home_intro_button">
            <div>Hire us</div>
          </a>
        </div>
        <div class="home_intro_character">
          <div class="home_spline_roboto">
            <video autoplay muted loop>
              <source src={video} type="video/mp4" />
              <source src={video} type="video/webm" />
            </video>
          </div>
        </div>
      </div>
    </di>
  </div>
  <div class="intro--options">
    <Marquee />
  </div>
</section>


<script>
  import { SplitText } from "gsap/dist/SplitText";
import { gsap } from "gsap/dist/gsap";

  gsap.registerPlugin(SplitText)
  let split , animation;

  document.addEventListener("DOMContentLoaded", () =>{

    animation && animation.revert();
    animation = gsap.from(split.lines, {
      delay:3.0,
      rotationX: -90,
      transformOrigin : "50% 50% ",
      opacity: 0.9,
      duration: 0.5,
      ease:"rough.in",
      stagger: 0.1
    })
  });

function setup() {
  split && split.revert();
  animation && animation.revert();
  split = new SplitText(".home-title", {type:"lines"});
}
setup();
window.addEventListener("resize", setup);


//Animacion texto Hero

  const textAnimation = document.querySelectorAll(".home-description");

  document.addEventListener("DOMContentLoaded", () =>{

    gsap.set(textAnimation,{
      opacity:0,
      x:-10,
      stagger: 0.1,
        ease: "rough.out",
    })

 gsap.to(textAnimation, {
        duration: 0.9,
        delay:3.0,
        opacity: 1,
        x: 10,
        stagger: 0.1,
        ease: "rough.in",
      });
    });
   
</script>
