---
import "../style/header.css";
import video from "../assets/Prueba3.mp4";
import Marquee from "./Marquee.astro";
---

<section class="section home__section" id="home">
  <div class="home_intro">
    <di class="container-medium">
      <div class="home_intro-grid">
        <div class="home_intro_content">
          <h1>FullStack<br />Developer</h1>
          <p>
            If you’re looking for a forward-thinking team of creatives to build
            a brand identity that stands out from the crowd, then you’re exactly
            where you need to be.
          </p>
          <p>
            If you’re looking for a forward-thinking team of creatives to build
            a brand identity that stands out from the crowd, then you’re exactly
            where you need to be.
          </p>
          <a class="home_intro_button">
            <div>Hire us</div>
          </a>
        </div>
        <div class="home_intro_character">
          <div class="home_spline_roboto">
            <video autoplay muted loop>
              <source src={video} type="video/mp4" />
              <source src={video} type="video/webm" />
            </video>
          </div>
        </div>
      </div>
    </di>
  </div>
  <div class="intro--options">
    <Marquee />
  </div>
</section>
